<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restroom Review</title>
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""
    ></script>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/main.js" defer></script>
</head>
<body>
<header>
    <div id="header-container">
        <img src="../static/images/restroom_sign.png" alt="restroom sign" id="sign">
        <h1>
            RESTROOM REVIEW
        </h1>
        <img src="../static/images/ucdavis_logo.png" alt="UC Davis logo" id="logo">
    </div>
    <nav>
        <div id="login-container">
            <button id="login-button">LOGIN</button>
        </div>
    </nav>
</header>
<main>
    <div id="map"></div>
    <!-- add button to click to open sidebar (temp) -->
    <button id="sidebar-tester" class="open-sb-btn">
        open sidebar
    </button>
    <div id="account-sidebar" class="sidebar">
        <div class="sidebar-content">
            <span id="close-sidebar" class="close-btn">&times;</span>
            <strong><h1 id="Title">Reviews</h1></strong>
            <h2 id="location-name">Placeholder Name</h2>
            <p id="total-review-rating">3.4</p>
            <div id="location-image">
                <img src="ucd graduate school of management.jpg" alt="placeholder image">
            </div>
            <div id="cal-review-box">
                <div id="cleanliness-review">
                    <h3>Cleanliness</h3>
                </div>
                <div id="accessibility-review">
                    <h3>Accessibility</h3>
                </div>
                <div id="location-review">
                    <h3>Location</h3>
                </div>
            </div>
        </div>
    </div>

</main>
<footer>
    <div id="bottom-footer">
        <a src="">Contact Us</a>
        <a src="">Terms</a>
        <a src="">Privacy</a>
        <p>© 2025 Restroom Review</p>
    </div>
</footer>
</body>
</html>