<form>
    <h2>Add Restroom</h2>
    <label>Description:</label><br>
    <textarea id="restroom-description" name="description" placeholder="Describe this location..."></textarea><br>

    <button type="button" id="submit-restroom">Submit</button>
</form>
