<form>
    <h2>Add Restroom</h2>
    <label for="restroom-name">Name:</label><br>
    <textarea id="restroom-name" name="name" placeholder="What is the name of this location..."></textarea><br>
    <label>Description:</label><br>
    <textarea id="restroom-description" name="description" placeholder="Describe this location..."></textarea><br>
    <button id="submit-restroom" type="button">Submit</button>
</form>
<p id="review-error-msg" style="color: red; display: none;"></p>
