<form>
    <input type="hidden" id="hidden-lat" name="lat">
    <input type="hidden" id="hidden-lng" name="lng">

    <label>Description:</label><br>
    <textarea id="restroom-description" name="description" placeholder="Describe this location..."></textarea><br>

    <button type="button" id="submit-restroom">Submit</button>
</form>
